#cloud-config
autoinstall:
  version: 1
  refresh-installer: { update: true }
  apt:
    preserve_sources_list: false
    primary:
    - uri: "http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/"
      arches: ["amd64"]
    - uri: "http://mirrors.ukfast.co.uk/sites/archive.ubuntu.com/"
      arches: ["amd64"]
    - uri: "http://mirror.cov.ukservers.com/ubuntu/"
      arches: ["amd64"]
  keyboard: {layout: gb}
  locale: en_GB.UTF-8
  ssh:
    install-server: true
  network:
    {{ (cloudinit_netplan | combine({'version': 2})) | to_yaml(indent=2, width=500) | indent(4) }}
  storage:
    {{ autoinstall_storage | to_yaml(indent=2, width=500) | indent(4) }}

  ## Note: This 'user-data' section runs *after the reboot* that happens at the end of the main 'late-commands' section.
  ##       You must not remove cloud-init until here, otherwise this section won't run at all (as it is *part* of cloud-init).
  ##       snapd also should be removed in here, because it cannot be removed entirely in late-commands, due to that being a chroot environment.
  user-data:
    hostname: 'dougavisor'
    disable_root: false
    ssh_pwauth: true
    users: {{ linuxusers | json_query('[].merge({name: name}, (cloudinit_userdata||``))') }}
    runcmd:
      ## Add .bash and .bash_history lines for users (do this here rather than in late-commands, because using in-curtin forces a lot of odd escaping that doesn't work reliably)
{% for user in linuxusers %}
{% if 'dot_bashrc_lines' in user and user.dot_bashrc_lines is defined and user.dot_bashrc_lines | length > 0 %}
{% set upd_file = '/root/.bashrc' if user.name == 'root' else '/home/' ~ user.name ~ '/.bashrc' %}
      - touch "{{ upd_file }}" && chown "{{ user.name }}:{{ user.name }}" "{{ upd_file }}"
{% for line in user.dot_bashrc_lines %}
      - f="{{ upd_file }}"; l={{ line | to_json }}; grep -qxF "$l" "$f" || printf '%s\n' "$l" >> "$f"
{% endfor %}
{% endif %}
{% if 'dot_bash_history_lines' in user and user.dot_bash_history_lines is defined and user.dot_bash_history_lines | length > 0 %}
{% set upd_file = '/root/.bash_history' if user.name == 'root' else '/home/' ~ user.name ~ '/.bash_history' %}
      - touch "{{ upd_file }}" && chown "{{ user.name }}:{{ user.name }}" "{{ upd_file }}" && chmod 600 "{{ upd_file }}"
{% for line in user.dot_bash_history_lines %}
      - f="{{ upd_file }}"; l={{ line | to_json }}; grep -qxF "$l" "$f" || printf '%s\n' "$l" >> "$f"
{% endfor %}
{% endif %}
{% endfor %}

      ## Install libvirt and other packages, upgrade existing packages
      - /usr/bin/apt-get update
      - /usr/bin/apt-get -y -o Dpkg::Options::="--force-confnew" install make unzip lsb-release qemu-kvm libvirt-daemon-system libvirt-clients ovmf bridge-utils virtinst
      - /usr/bin/apt-get -y dist-upgrade && /usr/bin/apt-get -y --purge autoremove && /usr/bin/apt-get -y autoclean || true

      ## change ownership of storage_pool mountpoint
      - mkdir -p {{ libvirt.storage_pool }} && chown -R :{{ libvirt.username }} {{ libvirt.storage_pool }} && chmod 775 {{ libvirt.storage_pool }}

      ## change ownership of /var/lib/swtpm-localca to tss (https://github.com/stefanberger/swtpm/issues/572)
      - mkdir -p /var/lib/swtpm-localca && chown tss /var/lib/swtpm-localca

      ## deploy cockpit packages from APT backports repo
      - apt-get -y -t $(awk -F'=' '/^UBUNTU_CODENAME/ {print $2}' /etc/os-release)-backports install cockpit cockpit-machines

      ## remove root from /etc/cockpit/disallowed-users (to allow root login)
      - sed -i 's/^root/#root/' /etc/cockpit/disallowed-users || true

      ## cockpit-navigator install
      - tmp=$(mktemp -d) && git clone https://github.com/45Drives/cockpit-navigator "$tmp/GH--cockpit-navigator" && make -C "$tmp/GH--cockpit-navigator" install || true

      ## remove default virbr0 network and nic
      - virsh net-destroy default || true; virsh net-undefine default || true

      ## define default storage
      - virsh pool-define-as --name default --type dir --target {{ libvirt.storage_pool }} || true; virsh pool-autostart default || true; virsh pool-start default || true

      ## remove cloud-init and snapd, then reboot
      - /usr/bin/apt-get --purge -y remove snapd
      - /usr/bin/rm -rf ~/snap /snap /var/snap /var/lib/snapd
      - /usr/bin/apt-get --purge -y remove cloud-init cloud-guest-utils
      - /usr/bin/rm -rf /etc/cloud
      - /usr/sbin/reboot

  late-commands:
    ## Force the original eth[n] naming convention, so we get predictable interface name for subsequent VM provisioning tooling.
    - curtin in-target -- sed -ri 's/^(GRUB_CMDLINE_LINUX\s*=\s*)"(.*?)"$/\1"\2 net.ifnames=0 biosdevname=0"/' /etc/default/grub
    ## Add a grub timeout, to allow us to get to boot screen if needed.
    - curtin in-target -- sed -ri 's/^GRUB_TIMEOUT\s*=.*$/GRUB_TIMEOUT=5/' /etc/default/grub
    - curtin in-target -- sed -ri 's/^.*GRUB_GFXMODE=.*$/GRUB_GFXMODE=1920x1080/' /etc/default/grub
    - curtin in-target -- /usr/sbin/grub-mkconfig -o /boot/grub/grub.cfg
    ## Remove swap file (setting swap to 0 in the 'storage' section, when using 'layout' (instead of 'config') does not currently work, hence removing swap here)
    - curtin in-target -- swapoff -a
    - curtin in-target -- sed -i '/^\/swap.img/d' /etc/fstab
    - curtin in-target -- rm -f /swap.img

    ## Set ip forwarding to 'on'
    - curtin in-target -- sh -c "echo 'net.ipv4.ip_forward=1' > /etc/sysctl.d/99-dougavisor.conf"
    - curtin in-target -- sysctl --system

    ## disable ubuntu motd-news
    - curtin in-target -- sh -c "sed -i 's/^ENABLED=.*/ENABLED=0/' /etc/default/motd-news || echo 'ENABLED=0' > /etc/default/motd-news"
    - curtin in-target -- chmod -x /etc/update-motd.d/10-help-text

    ## create /usr/lib/x86_64-linux-gnu/udisks2/modules directory to prevent warning message
    - curtin in-target -- mkdir -p /usr/lib/x86_64-linux-gnu/udisks2/modules

    ## Package clean
    - curtin in-target -- /usr/bin/apt-get --purge -y remove apport bcache-tools btrfs-progs byobu cloud-initramfs-copymods cloud-initramfs-dyn-netconf friendly-recovery fwupd landscape-common lxd-agent-loader ntfs-3g open-vm-tools plymouth plymouth-theme-ubuntu-text popularity-contest screen sosreport tmux ufw
