[defaults]
forks = 50
force_handlers = yes
vault_password_file = .vaultpass-client.py
host_key_checking = no
force_valid_group_names = ignore
roles_path = ./roles
callbacks_enabled = ansible.posix.profile_tasks
pipelining = yes

[ssh_connection]
ssh_args = -o 'UserKnownHostsFile=/dev/null' -o 'ControlMaster=auto' -o 'ControlPersist=60s'
control_path_dir=/tmp/.ansible/cp